{# CAROUSEL #}
<div class="col-sm-12 p-0">
	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		<ol class="carousel-indicators">
			<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
			<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
			<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
		</ol>
		<div
				class="carousel-inner" style="height:20vw; min-height:280px;">
			{# slide 1 #}
			<div class="carousel-item h-100 active">
				<img src="https://placehold.it/1600x900/adadad/eaeaea?text=Football" class="d-block w-100" alt="..." style="object-fit:cover; width: auto;height:100%;">
			</div>
			{# slide 2 #}
			<div class="carousel-item h-100">
				<img src="https://placehold.it/1600x900/e3e3e3/adadad?text=Basket" class="d-block w-100" alt="..." style="object-fit:cover; width: auto;height:100%;">
			</div>
			{# slide 3 #}
			<div class="carousel-item h-100">
				<img src="https://placehold.it/1600x900/a3a3a3/cbcbcb?text=Tennis" class="d-block w-100" alt="..." style="object-fit:cover; width: auto;height:100%;">
			</div>
		</div>
		{# controls #}
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</a>
	</div>
</div>
