<header
	class="container-fluid g-0">
	{# Header Top #}
	<div class="row">
		<div class="col-sm-12 header-top">
			<nav class="navbar navbar-expand navbar-dark nav-main" style="background-color: #000000;">
				<div class="container-fluid">
					<div id="logo">
						<a class="navbar-brand" href="#">LOGO</a>
					</div>
					<div>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a class="nav-link" href="#">Favoris</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Ticket(s)</a>
								</li>
								{# Dropdown 1 #}
								<li class="nav-item dropdown dropdown-1">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Mon Portefeuille
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
										<li>
											<a class="dropdown-item" href="/app/wallet/balance">Solde du compte</a>
										</li>
										<li>
											<a class="dropdown-item" href="/app/wallet/add-money">Réaliser un paiement</a>
										</li>
										<li>
											<a class="dropdown-item" href="/app/wallet/withdraw-money">Faire un retrait</a>
										</li>
										<li>
											<a class="dropdown-item" href="/app/wallet/bank-account">Modifier les coordonnées bancaires</a>
										</li>
										<li>
											<a class="dropdown-item" href="/app/wallet/limit-amount">Limite d'argent</a>
										</li>
									</ul>
								</li>
								{# Dropdown 2 #}
								<li class="nav-item dropdown dropdown-2">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Mon Profil
									</a>
									<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
										<li>
											<a class="dropdown-item" href="/app/profile/login">Mes identifiants</a>
										</li>
										<li>
											<a class="dropdown-item" href="/app/profile/information">Mes informations</a>
										</li>
										<li>
											<a class="dropdown-item" href="/app/profile/activation">Activation / Désactivation de compte</a>
										</li>
										<li>
											<a class="dropdown-item" href="/app/profile/suspend">Exclusion / Clôture de compte</a>
										</li>
										<li>
											<a class="dropdown-item" href="/logout">Se déconnecter</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>

	{# Header Bottom #}
	<div class="row">
		<div
			class="col-sm-12 header-bottom">
			{# Nav Secondary #}
			<nav class="navbar navbar-expand-lg navbar-dark nav-secondary"  style="background-color: #212121;">
				<div class="container-fluid">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav d-flex justify-content-around w-100">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="/app">Accueil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">En direct</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Dernière minute</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/app/sport/football">Football</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/app/sport/basketball">Basketball</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Tennis</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Handball</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Formule 1</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Cyclisme</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">A-Z</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>
</header>
