<header class="container-fluid g-0 pt-4 pb-4">
{#	Header Top#}
	<div class="container">
		<div class="row">
			<div id="logo" class="col-sm-12 h1">
				<a href="#" class="text-secondary text-decoration-none">
					<img src="{{ asset('images/logo/bet-sport-online_logo.svg') }}" alt="logo | Bet Sport
							Online - paris sportif en ligne" class="py-4 mx-5" width="270px"/>
				</a>
			</div>
		</div>
	</div>
</header>

