<header class="container-fluid g-0 pb-5">
	{#	Header Top#}
	<div class="container-fluid">
		<div class="row">
			<div id="logo" class="col-sm-12 h1" style="background: rgba(0,0,0,0.8);height:110px;">
				<a href="#" class="text-secondary text-decoration-none">
			<img src="{{ asset('images/logo/bet-sport-online_logo.svg') }}" alt="logo | Bet Sport
							Online - paris sportif en ligne" class="py-4 mx-5" width="200px"/>
			</a>
		</div>
	</div>
	</div>
</header>

