{# FOOTER #}
<footer class="container-fluid mt-4 py-4 bg-dark text-white">
	<div class="row">
		<div class="container col-sm-12">
			<div class="row footer-content">
				<div class="col-sm-12">
					<p class="text-center border border-light py-3">Insérer le contenu du header ici !</p>
				</div>
			</div>
			<div class="row footer-disclaimer py-4">
				<div class="col-sm-10 mx-auto">

					<p>
						INTERDICTION VOLONTAIRE DE JEUX: Toute personne souhaitant faire l'objet d'une interdiction de jeux doit le faire elle-même auprès du Ministère de l'Intérieur. Cette interdiction est valable dans les casinos, les cercles de jeux et sur les sites de jeux en ligne autorisés en vertu de la loi no 2010-476 du 12 mai 2010. Elle est prononcée pour une durée de trois ans non réductible.
					</p>

				</div>
			</div>
			<div class="row footer-copyright">
				<div class="col-sm-12">
					<p class="text-center">@Copyright 2020, Tous droits réservés.</p>
				</div>
			</div>


		</div>
	</div>
</footer>
