{% extends 'user_profile/user_profile.html.twig' %}

{% block main %}

    <h3 class="mb-5">Modifier les coordonnées bancaires</h3>

    <h4 class="mb-4">Mes coordonnées bancaires</h4>

   <p class ="fs-5">Titulaire du compte : {{ user.lastName }} - {{ user.firstName }}</p>

<div class="form1 enabled d-none">

{{ form(bankAccountForm) }}
    <button class="btn btn-danger cancel-btn1">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
</div>


                <div class="form1 disabled">

            {{ form(bankAccountDisabledForm) }}

                    <button class="btn btn-primary edit-btn1">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                </div>




{% endblock %}
