{% extends 'user_profile/user_profile.html.twig' %}

{% block main %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <h3 class="mb-5">Définir ma limite de jeu</h3>

    <p class="mb-5 fs-4 text-center">Ma limite de mise actuelle est de {{ wallet.limitAmountPerWeek }} euros par semaine. </p>

        {% if editLimitAmount %}
            {{ form(walletForm) }}

            <a href="/app/wallet/limit-amount" class="btn btn-danger">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>

        {% else %}
            <form class="" action="">

            {{ form_row(walletForm.limitAmountPerWeek, { 'attr':{'disabled':'disabled'} }) }}
            </form>

            <a href="/app/wallet/limit-amount/edit" class="btn btn-primary mt-3">
                <i class="fa fa-edit" aria-hidden="true"></i>
            </a>
        {% endif %}

{% endblock %}
