{% extends 'user_profile/user_profile.html.twig' %}

{% block main %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <h3>Faire un retrait</h3>

    <h4>Solde actuel: {{ wallet.balance }} EUR</h4>

    <br>

{{ form(withdrawMoneyForm) }}

    <br>
    <h4>Versement par virement bancaire sur votre compte</h4>
    <p>Ref IBAN : XXXXXXXXXXXXXXXX</p>



{% endblock %}
