
<h2>Bonjour {{user.firstName}} {{user.lastname}} !</h2>
<h4>Votre demande de modification d'email chez Paris Sportifs</h4>
<p>
    Merci de confirmer votre nouvelle adresse email en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer ma nouvelle adresse email</a><br>
    Attention, ce lien expire dans 1 heure(s).
</p>
<br>
<p>L'équipe Paris Sportifs :)</p>